<h1>Listing <%= @count %> Dojos</h1>

<table>
    <tr>
        <th>Coding Dojo Branch</th>
        <th>Street</th>
        <th>Ciy</th>
        <th>State</th>
        <th>Actions</th>
    </tr>
<% @dojos.each do |dojo|%>
    <tr>
    <td><%= dojo.name %></td>
    <td><%= dojo.street %></td>
    <td><%= dojo.city %></td>
    <td><%= dojo.state %></td>
    <td><a href='/dojos/show/<%= dojo.id %>'>Show</a>
    <a href='/dojos/edit/<%= dojo.id %>'>Edit</a>
    <form action='/dojos/destroy/<%= dojo.id %>' method='post'>
    <input type='hidden' name='authenticity_token' value="<%= form_authenticity_token %>">
    <input type='submit' value='Destroy' id='link'>
    </form>
    </td>
    </tr>
<% end %>

</table>
<br>
<br>
<a href='/dojos/new'>Add Dojo!</a>
